
.container {
  max-width: 1480px;
  margin: auto;
  position: relative;
}

.page {
  padding-top: 50px;
}

.product {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.product-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-row {
  display: flex;
}



