
.container {
  max-width: 1480px;
  margin: auto;
}

.page {
  padding-top: 50px;
  height: 1000px;
}

.product {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.product-list {
  display: flex;
  flex-direction: column;
}


