
.container {
  max-width: 1480px;
  margin: auto;
  height: 1000px;
  background-color: antiquewhite;
  position: relative;
}

.page {
  padding-top: 50px;
}

.product {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  height: 180px;
  margin: 10px;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.product-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-navbar {
  font-size: 25px;
  padding: 20px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.content-wrapper {
  padding: 30px
}

.section-title {
  font-size: 30px;
  font-weight: bold;
}

.product-row {
  display: flex;
}

.app-footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
}

