

.product {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.container {
  position: relative;
  max-width: 1480px;
  margin: auto;
}

.page {
  padding-top: 50px;
  height: 2000px;
}

#product4 {
  position: fixed;

  top: 200px;
  left: 200px;
}
