

.product {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.page {
  padding-top: 50px;
}
