
.container {
  max-width: 1480px;
  margin: auto;
  height: 1000px;
}

.page {
  padding-top: 50px;
}

.product {
  border: 1px solid black;
  padding: 20px;
  width: 250px;
  height: 180px;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.product-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


